body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #191b22;
    
    text-align: center;
}
h1{
    color: #2b90d9
}
p{
    color: #9badc6;
    padding: 0;
    margin: 3 0;
}
a{
    color: #9badc6
}
a:visited{
    color: #9badc6
}
img{
    margin: 0 auto;
}
#info{
    border: solid #2b90d9 1px;
    margin: 5px auto;
}
input{
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #2b90d9;
    border: none;
    padding: 10px;
    margin: 10px;
}

@media only screen and (max-width: 620px){
    
    img{
        width: 95%;
        margin: 0 auto;
    }
    
}